@use "../abstract" as *;
@use "../base" as *;

$mgr-hdr-w: 18em;
$mgr-main-dist: 4.2em;

$mgr-dark: #262628;
$mgr-light: white;
$mgr-hdr: #f9f9f9;
$mgr-rose: #e4c9ff;
$mgr-roser: #b38bdb;
$mgr-blue: #e8eff9;
$mgr-blueer: #b8c5e5;
$mgr-green: #ebfdef;
$mgr-greener: #9ad3a8;
$mgr-red: #ffefe7;
$mgr-reder: #e8af92;
$mgr-redest: #cc5e5a;

manager {
  /**
  * Classes
  */
  .shd-min {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .shd-mid {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .rd-std {
    border-radius: 24px;
  }

  [grid-repeat] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  }

  [timestamp] {
    @extend [text], [smol], [bold], [ttup];
    opacity: 0.6;
  }

  label {
    color: $mgr-dark;

    &[level="top"] {
      font-size: 1.8em;
      line-height: 1.2em;
    }
  }

  card {
    display: block;
    content: "";
    position: relative;

    &[green] {
      background: $mgr-greener;
    }

    &[blue] {
      background: $mgr-blueer;
    }

    &[red] {
      background: $mgr-reder;
    }

    .more {
      position: absolute;
      top: 1.2em;
      right: 1.2em;
      z-index: 2;

      .more_icon {
        font-size: 1.2em;
        height: 1.8em;
        width: 1.8em;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          display: block;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.06);
        }
      }
    }

    .badges {
      position: absolute;
      top: 1.2em;
      left: 1.2em;
      opacity: 0.4;

      .badge_option {
        color: white;
        display: flex;
        align-items: center;
        padding: 0 0.6em;
        line-height: 1.8em;
        gap: 0.24em;

        &[red] {
          background: $mgr-reder;
        }

        &[green] {
          background: $mgr-greener;
        }

        &[grey] {
          background: rgba(0, 0, 0, 0.12);
          color: $mgr-dark;

          @include themed() {
            background: t(slight-hover);
            color: t(text);

            p i {
              color: t(text);
            }
          }
        }

        @extend .rd12;

        p {
          font-weight: 600;
          font-size: 0.8em;
          text-transform: uppercase;
        }

        p i {
          display: block;
          color: white;
          font-weight: 400;
        }
      }
    }

    &[user] {
      @include themed() {
        background: t(slighter-hover);
        color: t(text);
      }

      &:hover {
        .badges {
          opacity: 1;
        }

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transform: scale(1.01);
        position: relative;
        z-index: 2;
      }

      &[user="smol"] {
        padding: 1.2em 1.8em 1.2em 1.2em;

        @extend .rd24;

        .flexer {
          display: flex;
          gap: 1.2em;
          align-items: center;
          line-height: 1.2em;
        }
      }

      &[user="std"] {
        padding: 2.4em;
        width: 100%;

        @extend .rd24;

        .flexer {
          display: flex;
          gap: 1.2em;
          flex-direction: column;
          align-items: center;
          line-height: 1.2em;
        }
      }
    }

    &[stats] {
      padding: 1.8em 2.4em;

      @extend .rd28;

      &[stats="std"] {
        .icon {
          background: $mgr-dark;
          border-radius: 18px;
          height: 3.2em;
          width: 3.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1.2em;

          p i {
            font-size: 1.6em;
            color: white;
            display: block;
          }
        }

        .textline {
          display: flex;
          gap: 1.2em;
          align-items: center;

          .amount {
            font-size: 3.6em;
            line-height: 1.2em;
          }

          .type {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.2em;
            line-height: 1.2em;

            [timestamp] {
              font-weight: 400;
            }
          }
        }
      }
    }

    &[score],
    &[request] {
      border-radius: 24px;
      background: $mgr-dark;

      .card_inr {
        padding: 0em;
        padding-right: 1.2em;
        color: white;
        display: flex;
        gap: 1.2em;
        align-items: center;

        .picture {
          margin-right: -6em;
          position: relative;

          picture {
            height: 8.4em;
            width: 12em;

            img {
              border-radius: 20px;
            }
          }

          .fader {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;

            @include themed() {
              background: $mgr-dark;
              background: -moz-linear-gradient(
                -90deg,
                $mgr-dark 0%,
                $mgr-dark 18%,
                rgba(0, 212, 255, 0) 100%
              );
              background: -webkit-linear-gradient(
                -90deg,
                $mgr-dark 0%,
                $mgr-dark 18%,
                rgba(0, 212, 255, 0) 100%
              );
              background: linear-gradient(
                -90deg,
                $mgr-dark 0%,
                $mgr-dark 18%,
                rgba(0, 212, 255, 0) 100%
              );
            }
          }
        }

        .textline {
          line-height: 2em;

          p:first-of-type {
            margin-bottom: -0.2em;
          }
        }

        .card_inr__tags {
          display: flex;
          gap: 0.4em;
          align-items: center;
          margin-top: 0.8em;

          .card_inr__tags_option {
            display: flex;
            gap: 0.4em;
            align-items: center;
            border-radius: 12px;
            line-height: 1.6em;
            padding: 0 0.4em 0 0.6em;
            background: rgb(255 255 255 / 0.12);

            p i {
              display: block;
            }
          }
        }
      }

      &[picture-full] {
        $border-radius: 18px;

        .card_inr {
          position: relative;
          padding: 2.4em;

          .picture {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            picture {
              height: 100%;
              width: 100%;
            }

            .fader {
              height: 100%;
              width: 100%;
              border-radius: $border-radius;

              @include themed() {
                background: $mgr-dark;
                opacity: 0.6;
              }
            }
          }
        }
      }

      &[suspicious] {
        .card_inr__tags {
          .card_inr__tags_option {
            &[performance] {
              background: $mgr-redest;
            }
            &[accuracy] {
              background: $mgr-roser;
            }
          }
        }
      }
    }

    &[clickable] {
      &:hover {
        transform: scale(1.01);
        cursor: pointer;

        @extend .shd-mid;
      }
    }

    &[no-corners] {
      border-radius: 0px;
    }
  }

  dropdown {
    display: block;
    content: "";
    background: white;
    position: absolute;
    height: 2em;
    width: 10em;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: $trans-cubic;
    transform: scale(0.86);

    @extend .rd18, .shd-mid;

    &[active] {
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    .dash {
      border-top: 1px solid rgba(0, 0, 0, 0.06);
      height: 1px;
      margin: 0.4em 0.8em;
    }

    .dropdown_inr {
      min-width: 14em;
      padding: 0.4em;
      display: flex;
      flex-direction: column;
      gap: 0.1em;
    }

    &[left] {
      right: 0;
    }

    &[right] {
      left: 0;
    }

    .option {
      font-size: 1em;
      display: flex;
      align-items: center;
      gap: 0.8em;
      color: #707070;
      padding: 0 0.8em;
      line-height: 2em;

      @extend .rd12;

      .icon {
        i {
          display: block;
          font-size: 1.2em;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.04);
      }
    }
  }

  .current_tab {
    .current_tab__inr {
      padding: 0;
      display: flex;
      gap: 2.4em;
      align-items: center;

      .back_icon {
        height: 4.2em;
        width: 4.2em;
        border-radius: 50%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include themed() {
          background: t(slighter-hover);

          p i {
            display: block;
            color: t(text);
          }

          &:hover {
            background: t(slight-hover);
            scale: 1.04;
          }

          &:active {
            scale: 0.96;
          }
        }
      }
    }
  }

  /**
  * Users
  */
  .user_main {
    margin-top: 4.2em;
    display: flex;

    .quickies {
      border-radius: 24px;
      background: $mgr-dark;
      padding: 2.4em;

      .picture {
        picture {
          padding-top: 100%;
          width: 100%;

          img {
            top: 0;
            position: absolute;
            border-radius: 24px;

            @extend .shd-min;
          }
        }
      }

      .base {
        padding: 2.4em;
        line-height: 1.4em;
      }
    }

    .infotab {
      background: $mgr-dark;
      border-radius: 24px;
      margin-bottom: 24px;
      padding: 2.4em;

      .infotab_inr {
        display: flex;
        justify-content: space-evenly;

        .option {
          display: flex;
          gap: 1.2em;
          align-items: center;

          .icon {
            height: 3.8em;
            width: 3.8em;
            border-radius: 50%;
            background: white;
            color: $mgr-dark;
            display: flex;
            justify-content: center;
            align-items: center;

            p i {
              display: block;
              font-size: 1.6em;
            }
          }

          .textline {
            color: white;
            line-height: 1.4em;
          }
        }
      }
    }

    .suspicious {
      background: $mgr-red;
      border-radius: 24px;
      margin-bottom: 2.4em;
      padding: 2.4em 2.8em;
    }
  }

  /**
  * Beatmap requests
  */
  .heading {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: $mgr-green;
    padding-top: 4.2em;

    .picture {
      width: 100%;
      max-width: 860px;
      margin: 0 auto;

      picture {
        height: 12em;
        width: 100%;
      }
    }
  }
}

manager-menu {
  display: block;
  content: "";
  position: fixed;
  width: $mgr-hdr-w;
  height: 100vh;
  margin-left: calc(-18em - $mgr-main-dist);
  margin-top: -$mgr-main-dist;
  padding: 2.4em 0;

  @include themed() {
    background: t(mgr-nav);
  }

  @media screen and (min-width: 1960px) {
    height: calc(100% - $mgr-main-dist - 0.4em);
    margin-left: calc(-18em - $mgr-main-dist);
    margin-top: -$mgr-main-dist;
  }

  .main__logo {
    position: relative;
    visibility: hidden;
    height: 0px;
    overflow: hidden;

    * {
      visibility: hidden;
    }

    picture {
      transition: $trans-cubic;
      cursor: pointer;

      &:hover {
        transform: scale(0.82);
      }
    }

    &[loading] {
      .path-loader {
        opacity: 1;
        visibility: visible;
      }

      picture {
        transform: scale(0.52);
        opacity: 0.4;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.2em;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4em;
    margin: 0 2.4em;
    margin-top: 2.4em;

    &[bottom] {
      position: absolute;
      bottom: 2.4em;
      z-index: 3;
      width: calc(100% - 2 * 2.4em);
    }

    a {
      display: block;
      width: 100%;
      color: #262628;
      background: transparent;

      @extend .rd12;

      @include themed() {
        color: t(text);

        &:hover {
          background: t(slight-hover);
        }

        &:active {
          background: t(slighter-hover);
        }
      }

      &[active] {
        background: $mgr-roser;
        color: white;
        cursor: default;
        pointer-events: none;

        .menu_option {
          [textline] {
            font-weight: 600;
          }
        }
      }
    }

    .dash {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      margin: 1.2em 0;
      width: 100%;
    }

    .menu_option {
      padding: 0 1.2em;
      line-height: 2.8em;
      display: flex;
      gap: 0.8em;
      align-items: center;
      width: 100%;
      font-size: 1.12em;

      [icon] {
        i {
          display: block;
          margin-top: 0.08em;
        }
      }
    }
  }
}
