<div fl fldircol gap="smol">
  <div fl alic gap="smol">
    <div loading-content="artist" style="min-width: 48px; width: 48px"></div>
    <div loading-content="artist" flexone></div>
  </div>
  <div fl alic gap="smol">
    <div loading-content="artist" style="min-width: 48px; width: 48px"></div>
    <div loading-content="artist" flexone></div>
  </div>
  <div fl alic gap="smol">
    <div loading-content="artist" style="min-width: 48px; width: 48px"></div>
    <div loading-content="artist" flexone></div>
  </div>
  <div fl alic gap="smol">
    <div loading-content="artist" style="min-width: 48px; width: 48px"></div>
    <div loading-content="artist" flexone></div>
  </div>
  <div fl alic gap="smol">
    <div loading-content="artist" style="min-width: 48px; width: 48px"></div>
    <div loading-content="artist" flexone></div>
  </div>
</div>
