@use "../abstract" as *;
@use "../base" as *;

header {
  &[full] {
    padding-left: calc($page-navigator-width + 1.2em);
  }

  &[top] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: $home-header-height;
    z-index: 1000;

    [inr] {
      padding-inline: calc($main-distance + $gap-std);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-inline: auto;
    }

    .left {
      display: flex;
      gap: 1.2em;
      align-items: center;

      .logo {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.8em;

        .main__logo {
          padding: 0;
        }

        p {
          opacity: 0.6;
        }
      }

      @media screen and (max-width: 1200px) {
        gap: 1.2em;

        .search {
          margin-right: 0.4em;
        }
      }

      @media screen and (max-width: 800px) {
        flex: 1;
        width: 100%;
        justify-content: center;

        .menu {
          display: none;
        }
      }
    }

    .right {
      display: flex;
      gap: 0.8em;
    }
  }

  &[main] {
    z-index: $endless-z-index + 2;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100svh);
    width: $main-header-width;
    transition: $trans-cubic;

    .logo_bg {
      border-radius: 0 0 24px 24px;
      padding-bottom: 1.8em;
    }

    @include themed() {
      background: t(nav);
    }

    &[toggled="true"] {
      left: -24em;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
    }

    .main__menu {
      &[mid] {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8em;

        top: 50%;
        left: 50%;
        translate: -50% -50%;

        @media screen and (max-height: 1000px) {
          position: relative;
          left: initial;
          top: initial;
          translate: 0 0;
          margin-top: 1.2em;
        }

        @media screen and (max-height: 790px) {
          gap: 0.2em;
        }
      }

      .dash {
        margin-inline: 0.4em;
        margin-block: 0.28em;
        border-bottom: 1px solid;

        @include themed() {
          border-color: t(text-normal-invert);
        }
      }

      .page {
        height: 3.4em;
        width: 3.4em;
        position: relative;
        transition: $trans-cubic;

        @include themed() {
          color: t(text-nav);
        }

        &[donotshow] {
          scale: 0.68;
          opacity: 0;
          visibility: hidden;
          display: none;
        }

        .icon {
          height: 100%;
          width: 100%;
          position: relative;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            @include themed() {
              background: t(slight-hover);
            }
          }
        }

        a[active="true"] {
          @include themed() {
            color: t(text);
          }

          .icon {
            @include themed() {
              background: t(active);
            }

            &:hover {
              @include themed() {
                background: t(active-hover);
              }
            }
          }
        }

        $hover-card-width: 23.2em;

        .hover_card {
          position: absolute;
          z-index: 2;
          left: 2.4em;
          width: $hover-card-width;
          scale: 0.94;
          visibility: hidden;
          opacity: 0;
          transition: $trans-cubic;

          @include material-card(2);

          @include themed() {
            background: t(box2);
          }

          &[active="true"] {
            left: 3.6em;
            width: $hover-card-width;
            visibility: visible;
            opacity: 1;
          }

          &[alignment] {
            &[alignment="bottom"] {
              bottom: -0.4em;
            }

            &[alignment="top"] {
              top: 0;
            }

            &[alignment="center"] {
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &[user] {
            width: calc($hover-card-width - 2.4em);
          }

          &:hover {
            scale: 1;
          }
        }

        .hover_card__inr {
          padding: 2.4em;
        }

        &:hover {
          .hover_card {
            visibility: visible;
            opacity: 1;
            left: 3.6em;
          }
        }

        &[no-hover] {
          pointer-events: none;
        }
      }
    }

    .main__user {
      position: absolute;
      bottom: 0;
      padding-bottom: 1.8em;
      display: flex;
      flex-direction: column;
      gap: $gap-smol-plus;

      .main__menu {
        margin-top: 0;
      }

      .main__user_image {
        position: relative;

        picture[in-menu] {
          @include themed() {
            background: transparent;
          }

          cursor: pointer;
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    @media screen and (max-width: 800px) {
      left: -108px;
    }
  }

  &[closed] {
    left: calc(-1 * ($main-header-width + 2em));
  }
}

[scroll-manipulated] {
  &[scrolled="true"] {
    [hide-scrolled] {
      display: none !important;
    }
  }
}

[y-scrollable] {
  overflow-y: auto;
  overflow-x: visible;
}

.main__logo {
  @extend [fl], [fldircol];
  position: relative;
  width: 100%;
  padding: 1.2em 0;
  align-items: center;

  picture {
    transition: $trans-cubic;
    cursor: pointer;

    &:hover {
      transform: scale(0.82);
    }
  }

  &[loading] {
    .path-loader {
      opacity: 1;
      visibility: visible;
    }

    picture {
      transform: scale(0.52);
      opacity: 0.4;
    }
  }
}

filters {
  display: none;
}

[dot-divider] {
  $size: 4px;
  min-height: $size;
  height: $size;
  min-width: $size;
  width: $size;
  margin: 0.4em;
  border-radius: 50%;

  @include themed() {
    background: t(hover);
  }
}
