@use "../abstract" as *;
@use "../base" as *;

.mobile_navigation {
  @include themed() {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1002;
    bottom: 0;
    left: 0;
    height: $mobile-nav-height;
    width: 100%;
    background: t(box2);

    .mn__inr {
      display: flex;
      flex: 1;
      justify-content: space-evenly;

      .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        &:hover {
          mi {
            background: t(slight-hover);
          }
        }

        &:active {
          mi {
            background: t(hover);
          }
        }

        mi {
          width: 64px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 32px;
        }

        &[active] {
          font-weight: 900;

          mi {
            background-color: t(active);
          }
        }
      }

      a[active] {
        .option {
          font-weight: 900;

          mi {
            background-color: t(active);
          }
        }
      }
    }
  }
}
