@use "../abstract" as *;
@use "../base" as *;

[open-ui-component="notifications"] {
  mi {
    &::before {
      content: "notifications";
      display: block;
    }
  }

  &[has-notifications] {
    background: rgb(250, 97, 97) !important;
    color: white;

    mi {
      &::before {
        content: "notifications_unread";
        display: block;
      }
    }

    &:hover {
      background: rgb(211, 69, 69) !important;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      height: 100%;
      width: 100%;
      background: rgb(250, 97, 97);
      opacity: 1;
      scale: 1;
      border-radius: 50%;
      z-index: -1;
      animation: pulse-new 2s $cubic infinite;

      @keyframes pulse-new {
        from {
          scale: 1;
          opacity: 1;
        }

        to {
          scale: 2;
          opacity: 0;
        }
      }
    }
  }
}

ui-component {
  $border-radius: 24px;
  content: "";
  display: block;
  visibility: hidden;
  opacity: 0;
  scale: 0.98;
  position: fixed;
  z-index: $endless-z-index;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  box-shadow: var(--mio-theme-elevation-2);
  transition: $trans-cubic;
  left: $page-navigator-width;

  @include themed() {
    background: t(box2);
    color: t(text);
  }

  @media screen and (max-width: $tablet-max-width) {
    left: calc($main-distance / 2);
  }

  @media screen and (max-height: 750px) {
    max-height: calc(100vh - $main-distance) !important;
  }

  [loading-overlay] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    z-index: 3;
    transition: all 0.1s linear;

    @include themed() {
      background: t(slight-hover);
    }
  }

  [material-bar-loader] {
    display: none;
    max-width: calc(100% - 2.4em);
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 6px;
    top: initial;
    border-radius: 12px;
    height: 6px;
  }

  &[loading] {
    [loading-overlay] {
      visibility: visible;
      opacity: 1;
    }

    [material-bar-loader] {
      display: block;
    }
  }

  &[active] {
    visibility: visible;
    opacity: 1;
    scale: 1;
  }

  nc-inr {
    position: relative;
    z-index: 2;
    display: block;
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: $gap-smoler;
    border-radius: $border-radius;
  }

  nc-tabs-floating {
    position: absolute;
    z-index: 1;
    left: calc(100% + 12px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: $gap-smol;
    align-items: flex-start;

    nc-tab-option {
      @include themed() {
        margin-left: -24px;
        opacity: 0;
        height: 50px;
        padding-inline: 14px;
        border-radius: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $gap-smol-plus;
        background: t(box3);
        box-shadow: var(--mio-theme-elevation-2);
        transition: $trans-cubic;
        cursor: pointer;

        &[showing] {
          margin-left: 0;
          opacity: 1;
        }

        mi {
          font-size: 28px;
        }

        p[text] {
          display: none;
          white-space: nowrap;
        }

        &:hover {
          width: auto;
          padding-inline: 18px 24px;
          border-radius: 32px;
          box-shadow: var(--mio-theme-elevation-3);

          p[text] {
            display: block;
          }
        }

        &[active] {
          background: t(active);
          color: t(active-text);
          width: auto;
          padding-inline: 18px 24px;
          border-radius: 32px;
          pointer-events: none;

          mi {
            font-weight: 600;
            font-size: 28px;
          }

          p[text] {
            font-weight: 700;
            display: block;
          }
        }
      }
    }
  }

  nc-tabs {
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
    padding-inline: 16px;

    nc-tab-option {
      @include themed() {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        mi {
          min-width: 56px;
          height: 32px;
          border-radius: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        p[text] {
          font-size: 0.8em;
        }

        &:hover {
          mi {
            background: t(slight-hover);
          }
        }

        &[active] {
          mi {
            background: t(active);
          }

          p[text] {
            font-weight: 700;
            color: t(active-text);
          }
        }
      }
    }
  }

  [notification] {
    @include themed() {
      width: 100%;
      // animation: fade-in 0.2s linear forwards;
      padding-inline: 12px;
      padding-block: 18px;
      background: t(box);
      border-radius: 12px;

      &:hover {
        z-index: 1001;
      }

      &[further] {
        @extend [clickable];
      }

      [done] {
        display: none;
        padding-right: 18px;
        align-items: center;
      }

      [undone] {
        display: flex;
        align-items: center;
      }

      &[done] {
        [done] {
          display: flex;
        }

        [undone] {
          display: none;
        }
      }

      .notif__element_inr {
        display: flex;
        align-items: center;
        gap: $gap-smol-plus;
      }

      .notif__element_picture {
        height: 3.2em;
        min-width: 3.2em;
        width: 3.2em;
        border-radius: 50%;
        background-color: t(box3);
      }

      .type_badge {
        position: absolute;
        z-index: 5;
        bottom: 0;
        right: -0.4em;
        border-radius: 50%;
        height: 1.6em;
        width: 1.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark;

        mi {
          font-size: 18px;
        }

        &[type="squad"] {
          background: #dde3ff;
        }

        &[type="social"] {
          background: #e4ffe6;
        }

        &[type="report"] {
          background: #ffe6e6;
        }

        &[type="system"] {
          background: t(company-color);
          color: $light;
        }
      }

      .notif__element_content {
        padding-top: 0.2em;
        flex-basis: 100%;

        .notif__element_content__textline {
          flex: 1;
          min-width: 0;
        }

        .notif__element_content__extra {
          margin-top: 0.8em;
          transition: $trans-cubic;

          &[active="false"] {
            transform: scale(0.92);
            opacity: 0;
          }
        }
      }

      &[restricted] {
        background: t(btn-unfollow);
        color: $light;
      }

      &[frozen] {
        background: #4f8b96;
        color: $light;
      }

      &[unrestricted] {
        background: t(btn-follow);
        color: $dark;
      }
    }
  }
}

/**
 * User-Manager
 */
ui-component[type="user-manager"] {
  $border-radius: 24px;
  bottom: calc($main-distance / 2);
  max-height: 720px;
  width: 600px;

  @include themed() {
    background: t(box3);
    color: t(text);
  }

  nc-inr {
    min-height: 120px;
    padding: 42px;
    padding-top: 0;
  }
}

/**
 * Notifications
 */
ui-component[type="notifications"] {
  $border-radius: 24px;
  bottom: calc($main-distance / 2);
  max-height: 724px;
  width: 420px;
  padding-block: 10px;

  @media screen and (max-width: $mobile-max-width) {
    bottom: initial;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100vw;
    border-radius: 0;
    padding-top: 0;
  }

  nc-inr {
    min-height: 400px;
    padding-inline: 6px;

    @media screen and (max-width: $mobile-max-width) {
      padding-top: 6px;
      min-height: 0;
    }
  }
}
