@use "../abstract" as *;
@use "../base" as *;

user-menu {
  position: fixed;
  bottom: calc($main-distance / 2);
  left: 50%;
  translate: -50% 0;
  // margin-left: calc($page-navigator-width - 2 * $main-distance);
  z-index: $endless-z-index;
  display: flex;
  align-items: center;
  gap: $gap-smoler;
  box-shadow: var(--mio-theme-elevation-2);
  border-radius: 82px;
  height: 64px;
  padding: 8px;
  transition: $trans-cubic;

  @include themed() {
    background: t(box);
  }

  [toggle] {
    position: absolute;
    height: 56px;
    width: 56px;
    top: 50%;
    left: calc(100% + 8px);
    translate: 0 -50%;
    border-radius: 18px;
    box-shadow: var(--mio-theme-elevation-2);
    cursor: pointer;
    transition: $trans-cubic;

    @include themed() {
      background: t(company-color);
      color: t(company-text);
    }

    * {
      user-select: none;
    }

    &:hover {
      box-shadow: var(--mio-theme-elevation-3);
      scale: 1.02;
    }
  }

  &[deleted] {
    opacity: 0;
    visibility: hidden;
    scale: 0.98;
  }

  &[inactive] {
    bottom: -70px;

    [toggle] {
      border-radius: 24px 24px 12px 12px;
      top: -1.6em;

      &:hover {
        height: 60px;
        scale: 1;
      }

      mi {
        rotate: 180deg;
      }
    }
  }
}
