// * dark mode
$dark-00: #282934;
$dark-01: #363742;
$dark-02: #444552;
$dark-03: #656675;

// * light mode
$light: white;
$dark: #111;

// * grey
$grey: #cec2c2;
$light-grey: #fafaff;

// * purples
$purple-dark: #4a148c;
$purple: #9c27b0;
$purple1: #ab47bc;
$purple2: #ba68c8;
$purple3: #ce93d8;
$purple4: #e1bee7;
$purple5: #f3e5f5;
$purple6: #f7f0f8;

// * reds
$red: #ef5350;
$red1: #d32f2f;
$red2: #e53935;
$red3: #f44336;
$red4: #ef5350;
$red5: #e57373;
$red6: #ef9a9a;
$red7: #ffcdd2;
$light-red: #ffffff;
$youtube-red: #ff0000;

// * blues
$blue: #1e88e5;
$blue-1: #2196f3;
$light-blue: #e3f2fd;
$discord-blue: #5865f2;

// * pinks
$pink: #d81b60;
$pink1: #e91e63;
$pink2: #ec407a;
$pink3: #f06292;
$pink4: #f48fb1;
$pink5: #f8bbd0;
$pink6: #fce4ec;

// * greens
$green-dark: #1b5e20;
$green: #388e3c;
$green1: #43a047;
$green2: #4caf50;
$green3: #66bb6a;
$green4: #81c784;
$green5: #a5d6a7;
$green6: #c8e6c9;
$green7: #ffffff;

// * oranges
$orange: #f57c00;
$orange1: #fb8c00;
$orange2: #ff9800;
$orange3: #ffa726;
$orange4: #ffb74d;
$orange5: #ffcc80;
$orange6: #ffe0b2;
$orange7: #ffffff;

// * yellows
$yellow: #fbc02d;
$yellow1: #fdd835;
$yellow2: #ffeb3b;
$yellow3: #ffee58;
$yellow4: #fff176;
$yellow5: #fff59d;
$yellow6: #fff9c4;
$yellow7: #ffffff;

$platin: #00acc1;

// ! osu colors
$osu-blue: #87c7ec;
$osu-green: #89c935;
$osu-orange: #fbc062;
$osu-red: #ff676c;
$osu-pink: #e54a99;
