$gap-smolest: 0.1em;
$gap-smoler: 0.2em;
$gap-smol: 0.4em;
$gap-smol-plus: 0.8em;
$gap-std: 1.4em;
$gap-std-plus: 1.6em;
$gap-mid: 2.4em;
$gap-mid-plus: 2.8em;
$gap-wide: 4.2em;
$gap-wide-plus: 4.8em;
$gap-widest: 6.2em;

$font-size-smolest: 0.4em;
$font-size-smoler: 0.6em;
$font-size-smol: 0.8em;
$font-size-spec: 0.92em;
$font-size-std: 1em;
$font-size-std-plus: 1.1em;
$font-size-midler: 1.2em;
$font-size-midler-plus: 1.4em;
$font-size-mid: 1.6em;
$font-size-mid-plus: 1.8em;
$font-size-wide: 2.4em;
$font-size-wider: 2.8em;
$font-size-widest: 3.2em;
$font-size-widester: 4.2em;
$font-size-widestest: 5.2em;

$content-width: 1280px;
$full-hd-max-width: 1920px;
$tablet-max-width: 1270px;
$mobile-max-width: 810px;

$mbutton-smoler-size: 2.2em;
$mbutton-smol-size: 24px;
$mbutton-std-size: 40px;
$mbutton-std-plus-size: 48px;
$mbutton-mid-size: 56px;
$mbutton-mid-plus-size: 64px;
$mbutton-wide-size: 74px;

$content-width-widester: 1482px;
$content-width-widest: 1382px;
$content-width-wider: 1282px;
$content-width-wide: 1182px;
$content-width-mid-plus: 1082px;
$content-width-mid: 982px;
$content-width-std-plus: 882px;
$content-width-std: 782px;
$content-width-smol-plus: 682px;
$content-width-smol: 582px;
$content-width-smoler: 482px;
$content-width-smolest: 382px;
$content-width-smolestest: 282px;

$content-smol-size: 324px;
$content-smol-plus-size: 464px;
$content-std-size: 524px;
$content-std-plus-size: 624px;
$content-midler-size: 724px;
$content-mid-size: 824px;
$content-mid-plus-size: 924px;
$content-wide-size: 1024px;

$min-content-width: 20em;

$main-full-width: 100%;
$main-wide-width: 1800px;
$main-mid-width: 1280px;
$main-smol-width: 900px;
$main-single-width: 480px;

$main-header-height: 5em;
$main-header-width: 102.4px;
$main-distance: 18px;
$main-distance-mobile: 0.4em;

$sub-menu-width: 20em;
$sub-menu-width-shrinked: 130px;

$user-content-width: calc(1620px - $main-header-width);
$artist-content-width: 1280px;

$home-header-height: 6.2em;

$page-navigator-width: 100px;
$page-navigator-padding-left: calc($page-navigator-width + $main-distance);

$sub-container-width: 28em;

$mobile-nav-height: 80px;

$score-header-heigth: 26em;

$squad-content-width: 1820px;
$squad-header-heigth: 26em;

$full-header-width: calc(100vw - $page-navigator-width - 12px);

$global-search-width: 1120px;
