@font-face {
  font-display: block;
  font-family: hkim;
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/osu-icons/hkim.eot?jswnsq);
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/osu-icons/hkim.eot?jswnsq#iefix)
      format("embedded-opentype"),
    url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/osu-icons/hkim.ttf?jswnsq)
      format("truetype"),
    url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/osu-icons/hkim.woff?jswnsq)
      format("woff"),
    url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/osu-icons/hkim.svg?jswnsq#hkim)
      format("svg");
}
.osu-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: hkim !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}
.osu-ctb:before {
  content: "\e900";
}
.osu-mania:before {
  content: "\e901";
}
.osu-vanilla:before {
  content: "\e902";
}
.osu-taiko:before {
  content: "\e903";
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 300;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/light.ttf)
    format("truetype");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 300;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/light.ttf)
    format("truetype");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 300;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/light.ttf)
    format("truetype");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/regular.ttf)
    format("truetype");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/regular.ttf)
    format("truetype");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/regular.ttf)
    format("truetype");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 500;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/medium.ttf)
    format("truetype");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 500;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/medium.ttf)
    format("truetype");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 500;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/medium.ttf)
    format("truetype");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 600;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/semibold.ttf)
    format("truetype");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 600;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/semibold.ttf)
    format("truetype");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 600;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/semibold.ttf)
    format("truetype");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 800;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/bold.ttf)
    format("truetype");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 800;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/bold.ttf)
    format("truetype");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: swap;
  font-family: Material;
  font-style: normal;
  font-weight: 800;
  src: url(https://github.com/brudermusscode/heia.kim/raw/master/fonts/jakarta-sans/bold.ttf)
    format("truetype");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}
