@use "../abstract" as *;
@use "../base" as *;

overlay {
  position: fixed;
  z-index: $endless-z-index + 3;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.84);

  overlay-inr {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 64px;
    padding-inline: $main-distance;
  }

  .stars .snow {
    background: white !important;
  }

  &[container] {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0 + 116;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &[page] {
    loader {
      margin: 0;

      @include align-center-screen;
    }
  }

  &[loading-app] {
    visibility: visible;
    opacity: 1;
    z-index: $endless-z-index + 2000;
  }

  &[visible] {
    &[visible="false"] {
      opacity: 0;
    }

    &[visible="true"] {
      opacity: 1;
    }
  }
}
