@use "../abstract" as *;
@use "../base" as *;

picture {
  display: block;
  border: none;
  outline: none;
  position: relative;

  &[circled] {
    img {
      border-radius: 50%;
    }
  }

  &[quadrat],
  &[circled] {
    border-radius: 50%;
  }

  &[size] {
    height: 3.2em;
    width: 3.2em;

    &[size="smolest"] {
      height: 0.8em;
      min-height: 0.8em;
      width: 0.8em;
      min-width: 0.8em;
    }

    &[size="smoler"] {
      height: 1.2em;
      min-height: 1.2em;
      width: 1.2em;
      min-width: 1.2em;
    }

    &[size="smol"] {
      height: 1.6em;
      min-height: 1.6em;
      width: 1.6em;
      min-width: 1.6em;
    }

    &[size="smol+"] {
      height: 2em;
      min-height: 2em;
      width: 2em;
      min-width: 2em;
    }

    &[size="std"] {
      height: $mbutton-std-size;
      width: $mbutton-std-size;
      min-width: $mbutton-std-size;
      min-height: $mbutton-std-size;
      max-width: $mbutton-std-size;
      max-height: $mbutton-std-size;
    }

    &[size="midler"],
    &[size="pre-mid"] {
      height: 3.2em;
      min-height: 3.2em;
      width: 3.2em;
      min-width: 3.2em;
    }

    &[size="mid"] {
      height: $mbutton-mid-size;
      min-height: $mbutton-mid-size;
      width: $mbutton-mid-size;
      min-width: $mbutton-mid-size;
    }

    &[size="pre-wide"],
    &[size="mid+"] {
      height: 5.2em;
      min-height: 5.2em;
      width: 5.2em;
      min-width: 5.2em;
    }

    &[size="wide"] {
      height: 6.2em;
      min-height: 6.2em;
      width: 6.2em;
      min-width: 6.2em;
    }

    &[size="wider"] {
      height: 8.2em;
      min-height: 8.2em;
      width: 8.2em;
      min-width: 8.2em;
    }

    &[size="full"] {
      height: 100%;
      min-height: 100%;
      width: 100%;
      min-width: 100%;
    }
  }
}
