@use "../abstract" as *;
@use "../base" as *;

tag {
  display: inline-block;
  padding: 0.2em 0.8em;

  @include themed() {
    color: t(text);
    background: t(nav2);
  }

  &[clickable] {
    &:hover {
      opacity: 0.8;
    }
  }

  &[key-pressed] {
    border-radius: 8px;

    @include themed() {
      background: t(slight-hover);
      color: t(nav3-invert);
    }

    font-size: 0.8em;

    .icon {
      p {
        padding-top: 0.2em;
      }
    }
  }

  &[with-icon] {
    padding: 0.8em 1.6em 0.8em 0.8em;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 1.8em;
      width: 1.8em;
      font-size: 1.2em;

      @extend [rd12];
    }

    .text {
      line-height: 1em;
      padding-top: 0.1em;

      p {
        color: $pink;
      }

      &[multiple] {
        p:first-of-type {
          font-size: 0.8em;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.32);
        }
      }
    }
  }

  &[size] {
    padding: 0.4em 0.8em;

    &[size="smolest"] {
      line-height: 1.4em;
      padding: 0em 0.6em;
    }

    &[size="smoler"] {
      line-height: 1.2em;
      padding: 0.1em 0.4em;
    }

    &[size="smol"] {
      padding: 0.2em 0.6em;
    }

    &[size="std"] {
      padding: 0.4em 0.8em;
    }

    &[size="mid"] {
      padding: 0.6em 1.2em;
    }

    &[size="wide"] {
      padding: 1em 1.6em;
    }
  }

  &[deletable] {
    display: flex;
    flex-direction: row;
    gap: $gap-smol;

    .icon {
      opacity: 0.6;

      @extend [curpo];

      i {
        padding-top: 0.1em;
        font-size: 1.2em;
        line-height: 1;
        display: block;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &[dark] {
    * {
      color: white;
    }
  }
}
