@use "../abstract" as *;
@use "classes" as *;

[text] {
  font-size: $font-size-std;

  &[smoler] {
    font-size: $font-size-smoler;
  }

  &[smol] {
    font-size: $font-size-smol;
  }

  &[smolplus] {
    font-size: $font-size-spec;
  }

  &[std] {
    font-size: $font-size-std;
  }

  &[stdplus] {
    font-size: $font-size-std-plus;
  }

  &[midler] {
    font-size: $font-size-midler;
  }

  &[mid] {
    font-size: $font-size-mid;
  }

  &[midplus] {
    font-size: $font-size-mid-plus;
  }

  &[wide] {
    font-size: $font-size-wide;
  }

  &[wider] {
    font-size: $font-size-wider;
  }

  &[widest] {
    font-size: $font-size-widest;
  }

  &[widester] {
    font-size: $font-size-widester;
  }

  &[widestest] {
    font-size: $font-size-widestest;
  }

  &[slim] {
    font-weight: 300;
  }

  &[regular] {
    font-weight: 400;
  }

  &[medium] {
    font-weight: 500;
  }

  &[semibold] {
    font-weight: 600;
  }

  &[bold] {
    font-weight: 800;
  }

  &[has-icon] {
    display: flex;
    flex-direction: row;
    gap: $gap-smol;

    .icon {
      display: inline-block;
      margin-top: -0.1em;
    }
  }

  &[no-text-shadow] {
    text-shadow: none;
  }

  &[weight] {
    &[weight="bold"] {
      font-weight: 700;
    }
  }

  &[align="center"] {
    @extend [tac];
  }

  &[padding] {
    padding: 1.6em 2.4em;
  }

  &[uppercase] {
    text-transform: uppercase;
  }
}

[text-shadowed] {
  &[text-shadowed="min"] {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
  }
}

[taend] {
  text-align: end;
}

[text-shadow-pulse] {
  animation: text-shadow-pulse 6s ease infinite;
}

@keyframes text-shadow-pulse {
  0% {
    text-shadow: 0 0 0px #e3619b;
  }
  72% {
    text-shadow: 0 0 0px #e3619b;
  }
  80% {
    text-shadow: 0 0 0px #e3619b;
  }
  90% {
    text-shadow: 0 0 12px #e3619b;
  }
  100% {
    text-shadow: 0 0 0px #e3619b;
  }
}
