//main: ../application.scss

@use "sass:map";

@use "sangria-sunset" as *;
@use "springtime-symphony.scss" as *;
@use "lemon-zest.scss" as *;
@use "azure-dreams.scss" as *;
@use "twilight-noir.scss" as *;
@use "nocturnal-nebula.scss" as *;
@use "discord.scss" as *;
@use "golden-embrace.scss" as *;

$themes: ();
$themes: map.merge($themes, $springtime-symphony-theme);
$themes: map.merge($themes, $sangria-sunset-theme);
$themes: map.merge($themes, $lemon-zest-theme);
$themes: map.merge($themes, $azure-dreams-theme);
$themes: map.merge($themes, $twilight-noir-theme);
$themes: map.merge($themes, $nocturnal-nebula-theme);
$themes: map.merge($themes, $discord-theme);
$themes: map.merge($themes, $golden-embrace-theme);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map.get(map.get($themes, $theme), "#{$key}");
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map.get($theme-map, $key);
}
