@use "../abstract" as *;
@use "../base" as *;

body[begin],
body[register],
body[login],
body[connect],
body[password-reset] {
  background: #1f1f1f !important;

  .snow {
    background: white;
  }

  main {
    padding: 0;
  }
}

$header-disguised-height: 100px;

header[begin] {
  position: sticky;
  top: 0;
  z-index: 0;
  height: $header-disguised-height;
  transition:
    opacity 0.1s linear,
    scale 0.6s $cubic;

  &[scrolled="true"] {
    scale: 0.8;
    opacity: 0.4;
    z-index: -1;
  }
}

content[min-full] {
  min-height: 100vh;
  padding-block: 24px 62px;
}

content[begin] {
  min-height: calc(100vh - $header-disguised-height);
  align-items: center;
  padding-block: 24px 62px;

  @media screen and (max-height: 1000px) {
    align-items: flex-start;
  }

  .login_left {
    display: flex;
    flex-direction: column;
    min-width: 26em;
    max-width: 26px;

    .login_left__slogan {
      line-height: 2.6em;
    }

    .login_left__actions {
      margin-top: 3.2em;
      display: flex;
      justify-content: flex-start;
      gap: 1.2em;
      align-items: center;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .comback_user {
    border-radius: 24px 24px 0 0;
    padding: 2.4em 4.2em;

    @include themed() {
      background: t(slight-hover);
    }

    picture {
      height: 4.2em;
      width: 4.2em;
    }

    .comback_user__textline {
      p {
        line-height: 1em;
      }
    }
  }

  .random_users {
    display: flex;
    margin-top: 0.2em;

    .random_users__option {
      margin-right: -1.2em;

      picture {
        height: 3.8em;
        width: 3.8em;

        img {
          border: 4px solid;

          @include themed() {
            border-color: $dark;
          }
        }
      }
    }
  }
}

sign-container {
  display: block;
  max-width: 500px;
  width: 100%;
  position: relative;

  .sign_container__inr {
    position: relative;
    z-index: 2;
  }

  .sc__content-outer {
    width: 100%;

    .sc__content-outer__padding {
      padding: 4.2em 4.2em;
    }
  }

  .divider {
    border-bottom: 1px solid;
    height: 1px;
    margin-block: 0.8em;
    position: relative;

    @include themed() {
      border-color: t(slight-hover);
    }

    &:after {
      display: block;
      content: "or";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      margin-top: -0.1em;

      @include themed() {
        background: t(box3);
      }

      padding: 0.8em;
      border-radius: 8px;
    }

    &[dark] {
      &:after {
        @include themed() {
          background: t(someone-else-bg);
        }
      }
    }
  }

  .sign_container__user_icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1.8em;

    picture {
      height: 6.2em;
      width: 6.2em;

      lottie-player {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        height: 180px;
        width: 180px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  @media screen and (max-width: 800px) {
    min-width: 100%;
    width: 100%;
  }
}

api-outer {
  width: 100vw;
  min-height: 100vh;
  padding-inline: $main-distance;

  @media screen and (max-height: 1120px) {
    align-items: flex-start;
    padding-block: 6.2em;
  }
}

.floating-container {
  position: fixed;
  top: 50%;
  left: 50%;
}
