@use "../abstract" as *;
@use "../base" as *;

.set__header {
  position: fixed;
  z-index: 400;
  top: 6px;
  left: calc($page-navigator-width);
  height: $set-header-height;
  width: $full-header-width;
  transition: $trans-cubic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 42px 62px;
  padding-inline: 62px;
  left: $page-navigator-width;

  @media screen and (max-width: $mobile-max-width) {
    left: 0;
    margin-inline: 6px;
    height: $set-smallest-header-height;
    width: calc(100vw - 2 * 6px);
    padding-inline: 28px;
    padding-block: 28px;
  }

  &[scrolled="true"] {
    height: calc(82px + 2 * 1.8em);
    padding-block: 1.8em;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $mobile-max-width) {
      height: 82px;
      padding: 18px;
    }

    [cover] {
      box-shadow: var(--mio-theme-elevation-3);
    }

    [top] {
      display: none;
    }

    [bottom] {
      [title] {
        margin-top: 0;

        > p {
          font-size: 2em;

          @media screen and (max-width: $mobile-max-width) {
            font-size: 1.2em;
          }
        }
      }
    }

    play-track {
      play-button {
        height: 4.2em;
        width: 4.2em;

        @media screen and (max-width: $mobile-max-width) {
          height: 3.2em;
          width: 3.2em;
        }
      }

      track-duration {
        bottom: -18px;
      }
    }
  }

  inr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: $content-widestest-size;
    width: 100%;
    margin: 0 auto;
  }

  [cover] {
    @include image_fade_before;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 42px;
    overflow: hidden;

    picture {
      height: 100%;
      max-height: 100%;
      min-height: 100%;
      min-width: 100%;

      img {
        height: 100%;
        width: auto;
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  [top] {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: $set-width;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: $mobile-max-width) {
      justify-content: flex-end;
    }

    .status_option {
      border-radius: 16px;
      padding: 0.6em 1em;
      white-space: nowrap;
    }
  }

  [bottom] {
    position: relative;
    z-index: 2;
    gap: $gap-std;
    @include themed() {
      color: white;
    }

    @media screen and (max-width: $mobile-max-width) {
      gap: $gap-smol-plus;
    }

    [title] {
      margin-top: -10px;

      > p {
        font-size: 3.2em;
        line-height: 1.4;

        @media screen and (max-width: $tablet-max-width) {
          font-size: 2.4em;
        }

        @media screen and (max-width: $mobile-max-width) {
          font-size: 1.4em;
        }
      }
    }

    [tag] {
      border-radius: 16px;
      padding: 0.6em 1em;
      white-space: nowrap;

      @media screen and (max-width: 600px) {
        padding: 0.4em 1em;
      }

      @include themed() {
        background: t(box);
        color: t(text);
      }
    }
  }

  play-track {
    &[active] {
      track-duration {
        visibility: visible;
        opacity: 1;
      }

      play-button {
        scale: 0.78;

        &:hover {
          scale: 0.8;
        }

        &:after {
          animation: play-button-buffer 3.2s ease infinite;
        }

        > mi {
          &::before {
            content: "pause";
          }
        }
      }
    }

    track-duration {
      position: absolute;
      z-index: 1;
      display: block;
      content: "";
      height: 6px;
      width: 0;
      bottom: -38px;
      left: 0;
      opacity: 0;
      transition:
        $trans-cubic,
        opacity 0.1s linear;

      @media screen and (max-width: $mobile-max-width) {
        display: none;
      }
    }

    play-button {
      z-index: 2;
      position: relative;
      height: $pb-size;
      width: $pb-size;
      border-radius: 50%;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $dark;
      transition: scale 0.4s $cubic;
      cursor: pointer;

      @media screen and (max-width: $tablet-max-width) {
        height: $pb-small-size;
        width: $pb-small-size;
      }

      @media screen and (max-width: $mobile-max-width) {
        height: $pb-smallest-size;
        width: $pb-smallest-size;
      }

      &:hover {
        scale: 1.04;
      }

      &:active {
        scale: 0.98;
      }

      &:after {
        display: block;
        content: "";
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.42);
        border-radius: 50%;
      }

      @keyframes play-button-buffer {
        from,
        to {
          height: 100%;
          width: 100%;
        }

        50% {
          height: calc(100% + 2em);
          width: calc(100% + 2em);
        }
      }

      > mi {
        &::before {
          display: block;
          content: "arrow_back_2";
        }
      }
    }
  }
}

content[beatmapset] {
  padding-top: calc($set-header-height + 2 * $main-distance);
  max-width: $content-widestest-size;
  margin: 0 auto;

  @media screen and (max-width: $tablet-max-width) {
    padding-top: calc($set-header-height + 2 * $main-distance);
  }

  @media screen and (max-width: $mobile-max-width) {
    padding-top: calc($set-smallest-header-height + 2 * $main-distance);
  }
}

.s__ {
  display: flex;
  justify-content: space-between;
  gap: 2.4em;
  padding-inline: 1.2em;

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    gap: 0.8em;
    align-items: center;
  }
}

.s__modes {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2em;
  flex-wrap: wrap;

  @media screen and (max-width: 650px) {
    justify-content: center;
  }

  a.version {
    display: block;
    height: 3.2em;
    width: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    position: relative;

    @include themed() {
      background: t(slighter-hover);
    }

    &:hover {
      @include themed() {
        background: t(slightest-hover);
      }
    }

    &[active] {
      width: auto;
      padding-inline: 1em 1.6em;
      cursor: default;

      @include themed() {
        &,
        &:hover {
          background: t(active);
        }
      }

      .s__modes_option {
        gap: 0.4em;
      }
    }

    .s__modes_option {
      .option_text {
        font-size: 1.8em;
      }
    }
  }
}

.s__actions {
  display: flex;
  gap: 2.4em;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  @media screen and (max-width: 800px) {
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid;
    padding-bottom: 1.2em;
    margin-bottom: 0.4em;

    @include themed() {
      border-color: t(slight-hover);
    }
  }

  @media screen and (max-width: 650px) {
    flex-direction: column-reverse;
    gap: 0.4em;
  }
}

.s__content {
  display: flex;
  gap: $gap-std;

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
    gap: $gap-mid;
  }
}

.s__stats {
  width: 20em;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.divide {
  content: "";
  display: block;
  height: 1.4em;
  width: 4px;
  border-radius: 24px;
  margin-inline: 2.4em;

  @include themed() {
    background: t(slight-hover);
  }
}

$set-comments-width: 28em;

.s__comments {
  position: fixed;
  // show comment window above the header
  z-index: $endless-z-index + 3;
  bottom: -6em;
  right: 0.6em;
  width: $set-comments-width;
  max-height: calc(100svh - 1.2em);
  height: 83px;
  border-radius: 32px 32px 0 0;
  box-shadow: var(--mio-theme-elevation-3);
  padding-block: 1em;
  overflow: hidden;
  transition: $trans-cubic;
  visibility: hidden;
  opacity: 0;
  scale: 0.86;
  transition:
    left 0s linear,
    height 0.6s $cubic,
    scale 0.6s $cubic,
    bottom 0.6s $cubic,
    opacity 0.6s $cubic,
    visibility 0.6s $cubic;

  &[active] {
    opacity: 1;
    visibility: visible;
    scale: 1;
    bottom: 0em;
  }

  &[hide] {
    opacity: 0;
    visibility: hidden;
  }

  [dragme] {
    position: absolute;
    top: 0.8em;
    left: 50%;
    translate: -50% 0;
    width: 5.4em;
    height: 0.6em;
    border-radius: 24px;
    scale: 0.96;
    z-index: 20;
    cursor: grab;
    transition: $trans-cubic;
    box-shadow: var(--mio-theme-elevation-1);

    &:hover {
      scale: 1;
      height: 0.68em;
    }

    &:active {
      top: 0.5em;
      height: 1.4em;
      width: 6.2em;
      cursor: grabbing;
    }

    @include themed() {
      background: t(bg-invert);
    }
  }

  .composer {
    position: absolute;
    bottom: 0;
    padding: 0.8em;
    width: 100%;

    .textarea {
      background: white;
      // box-shadow: var(--mio-theme-elevation-1);
      display: flex;
      align-items: flex-end;
      border-radius: 28px;
      padding-inline: 1.4em 0.6em;
      gap: 1.2em;
      padding-block: 0.4em;
      position: relative;

      textarea {
        border: none;
        resize: none;
        overflow: hidden;
        max-height: 2.72em;
        padding-block: 0.74em;
        width: 100%;
        flex: 1;
        background: transparent;
        transition: none;
        color: $dark;

        &:focus {
          max-height: initial;
          transition: $trans-cubic;
        }

        &::placeholder {
          color: dark;
          opacity: 0.6;
          font-family: "Material", sans-serif;
        }
      }
    }

    &[active] {
      .textarea {
        box-shadow: var(--mio-theme-elevation-2);
      }

      &[active="not-focused"] {
        .textarea {
          box-shadow: none;
        }
      }
    }
  }

  .comments {
    bottom: 0;
    margin-bottom: 84px;
    left: 0;
    position: absolute;
    max-width: 100%;
    width: 100%;
    max-height: calc(100% - 6em);
    overflow: auto;
    overflow-x: hidden;
    padding-block: 0.8em 0;
  }
}

.pulse {
  position: absolute;
  z-index: -1 !important;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 28px;
  animation: pulse 2s $cubic infinite;

  @include themed() {
    background: t(hover);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  to {
    opacity: 0;
    height: calc(100% + 1.2em);
    width: calc(100% + 1.2em);
    top: -0.6em;
    left: -0.6em;
    border-radius: 38px;
  }
}
