@use "../abstract" as *;
@use "../base" as *;

$feed-sidebar-width: 10em;
$feed-sidebar-width-smol: 6em;

page-structure[feed] {
  padding-inline: calc($page-navigator-width + $main-distance) $main-distance;
  gap: $gap-mid;
  max-width: $content-widestest-size;
  margin-inline: auto;

  @media screen and (max-width: $mobile-max-width) {
    padding-inline: 6px;
  }

  wrapper {
    gap: $gap-mid;

    @media screen and (max-width: $mobile-max-width) {
      gap: $gap-std;
    }
  }

  column-wrapper[wide] {
    flex: 1;
    width: 100%;
    gap: $gap-mid;
  }

  column-wrapper[smol] {
    min-width: 17em;
    max-width: 17em;

    @media screen and (max-width: $tablet-max-width) {
      min-width: 12em;
      max-width: 12em;
    }
  }
}

.activity-status {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 20em;
  transition: $trans-cubic;
  z-index: 100;

  &:hover {
    scale: 1;
  }

  .beatmap {
    $border-radius: 26px;

    position: relative;
    border-radius: $border-radius;
    color: white;

    .bm__cover {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 0;
      overflow: hidden;
      border-radius: $border-radius;

      @include image_fade_before();

      picture {
        height: 100%;
        width: 100%;

        img {
          vertical-align: middle;
        }
      }
    }

    .bm__inr {
      position: relative;
      z-index: 1;
      padding: 1.2em;
      padding-inline: 1.8em;
      display: flex;
      align-items: center;
    }
  }
}

@keyframes active-indicator-pulse {
  0% {
    scale: 1;
  }
  4% {
    scale: 1.36;
  }
  6% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

[score-post] {
  bm-inr {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .user {
    display: flex;
    gap: 1.2em;
    justify-content: space-between;
    padding: 1.2em;
    padding-bottom: 0.4em;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4em;

    [has-count] {
      display: flex;
      align-items: center;
      gap: 0.8em;

      mbutton {
        &[active] {
          @include themed() {
            background: t(active);

            &:hover {
              background: t(active-hover);
            }
          }
        }

        &[clicked] {
          animation: like-button 1s ease forwards;

          p {
            scale: 1;
            rotate: 0;
            animation: like-button-thumb 0.9s ease forwards;
          }
        }
      }
    }
  }
}

@keyframes like-button {
  from {
    scale: 1;
  }

  70% {
    scale: 1.32;
  }

  80% {
    scale: 1.32;
  }

  90% {
    scale: 0.8;
  }

  to {
    scale: 1;
  }
}

@keyframes like-button-thumb {
  0% {
    scale: 1;
    rotate: 0deg;
    text-shadow: 0;
  }

  70% {
    scale: 2.4;
    rotate: (4 * 360deg - 24deg);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
  }

  80% {
    scale: 2.4;
    rotate: (4 * 360deg - 32deg);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.42);
  }

  90% {
    scale: 0.7;
    rotate: (4 * 360deg);
    text-shadow: 0;
  }

  100% {
    scale: 1;
    rotate: (4 * 360deg);
    text-shadow: 0;
  }
}

.notif__score {
  padding: 1.2em;
  border-radius: 18px;
  position: relative;

  .notif__score_inr {
    position: relative;
    z-index: 3;
    color: white !important;
    max-width: 100%;
  }

  .cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 18px;
    overflow: hidden;

    picture {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.42);
    }
  }

  @include themed() {
    background: t(bg);
  }
}

[more-menu] {
  position: relative;
  z-index: 100;

  .more_menu {
    position: absolute;
    z-index: $ripple-effect-zindex + 1;
    top: 0;
    right: 0;
    background: white;
    border-radius: 24px;
    min-width: 14em;
    opacity: 0;
    visibility: hidden;

    @include material-card(2);

    &[active] {
      opacity: 1;
      visibility: visible;
    }

    .more_menu__inr {
      padding-block: 1.6em;

      .mm_option {
        padding: 0.8em 1.6em;
        cursor: pointer;
        overflow: hidden;

        &:hover {
          @include themed() {
            background: t(slighter-hover);
          }
        }
      }
    }
  }
}

.beatmap_card {
  .last_updated {
    padding: 2.2em 2.4em 0.6em;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
    width: 100%;
    border-radius: 0 0 24px 24px;
    margin-top: -1.8em;

    @include themed() {
      background: t(slighter-hover);
    }
  }
}

feed-section {
  &[four-hide] {
    @media screen and (max-width: 1535px) and (min-width: 1154px) {
      [grid-repeat] > :nth-child(3) {
        display: none;
      }
    }
  }
}
