@use "../abstract" as *;
@use "../base" as *;

body[home] {
  main {
    min-height: 100svh;
    padding: 0;
  }
}

content[home] {
  height: calc(100vh);
  padding: $gap-std;
  padding-top: $home-header-height;

  @media screen and (max-width: 800px) {
    padding-inline: 0.4em;
  }

  [inr] {
    position: relative;
    border-radius: 38px;
    padding-inline: 0;
    justify-content: center;
    gap: 12em;
    overflow: hidden;

    @include themed() {
      background: t(box2);
    }

    .big_title {
      font-size: 24em;
      line-height: 0.88;
      font-weight: 900;
      letter-spacing: -0.04em;

      @media screen and (max-width: 3000px) {
        font-size: 18em;
      }

      @media screen and (max-width: 2300px) {
        font-size: 14em;
      }

      @media screen and (max-width: 1920px) {
        font-size: 12em;
      }

      @media screen and (max-width: 1500px) {
        font-size: 8em;
      }

      @media screen and (max-width: 650px) {
        font-size: 5.8em;
      }

      @media screen and (max-width: 480px) {
        font-size: 3.8em;
      }

      .text-carousel {
        display: flex;
        justify-content: flex-start;

        .text-container {
          position: relative;
          height: 1.2em;
          white-space: nowrap;
          padding-right: 0.1em;

          &:after {
            content: "";
            display: block;
            position: absolute;
            height: 74%;
            width: 8px;
            border-radius: 12px;
            opacity: 0;
            right: -6px;
            top: 50%;
            margin-top: -12px;
            translate: 0 -50%;
            transition: $trans-cubic;
            animation: blinkCursor 0.72s step-end infinite;

            @include themed() {
              background: t(text);
            }

            @keyframes blinkCursor {
              from,
              to {
                opacity: 0;
              }

              50% {
                opacity: 0.4;
              }
            }
          }
        }
      }
    }

    dotlottie-wc {
      height: 1200px;
      width: 1200px;
      margin-left: 12em;
      margin-right: -12em;

      @media screen and (max-width: 3000px) {
        height: 920px;
        width: 920px;
        margin-left: 8em;
      }

      @media screen and (max-width: 2300px) {
        height: 700px;
        width: 700px;
      }

      @media screen and (max-width: 1920px) {
        height: 580px;
        width: 580px;
        margin-left: 4em;
        margin-right: -8em;
      }

      @media screen and (max-width: 1500px) {
        height: 400px;
        width: 400px;
        margin-left: 8em;
        margin-right: -6em;
      }

      @media screen and (max-width: 1200px) {
        margin-left: 2em;
      }

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }

  footer {
    padding-top: $gap-std;
    padding-inline: $gap-std;
  }
}
