@use "../abstract" as *;
@use "../base" as *;

body[unlock] content {
  padding-block: 82px 124px;
  min-height: 100vh;
}

.pricing_plan {
  max-width: 28em;
  min-width: 28em;
  border-radius: 38px;

  @include themed() {
    color: t(text);
  }

  .plan_inr {
    padding: 0.4em;
  }

  .plan_header {
    @include themed() {
      background: t(box-invert);
      color: t(text-invert);
    }
  }

  .price {
    text-align: center;
    font-size: 3.8em;
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 0.4em;
  }

  .option {
    display: flex;
    align-items: center;
    gap: 1.2em;
    font-size: 1.2em;

    &[error] {
      mi {
        background: $orange;

        &::before {
          content: "priority_high";
        }
      }
    }

    mi {
      background: $green;
      color: $light;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      font-size: 1.2em;
      font-weight: 900;

      &::before {
        display: block;
        content: "check";
      }
    }
  }

  .plan_bottom {
    @include themed() {
      background: t(slight-hover);
    }

    border-radius: 24px 24px 38px 38px;
    padding: 1.2em;
    text-align: center;
  }
}

.premium-name {
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
  border-radius: 12px;
  padding: 0 0.4em;
  line-height: 1.6em;

  @include themed() {
    background: t(slight-hover);
  }

  i {
    display: inline-block;
  }
}
