@use "../abstract" as *;
@use "../base" as *;

$header-user-height: 324px;
$header-user-inr-width: 1480px;
$user-header-inline-padding: 4.2em;

header {
  @include themed() {
    &[full="user"] {
      height: $header-user-height;
      position: fixed;
      z-index: 0;
      width: 100svw;
      left: 0;
      top: 0;
      transition: $trans-cubic;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      @media screen and (max-width: $mobile-max-width) {
        align-items: center;

        [privileges] {
          display: none !important;
        }

        [ranking] {
          margin-top: $gap-smol-plus;
        }
      }

      [user-new-inner] {
        max-width: $content-widestest-size;
        margin-inline: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 12px;

        @media screen and (max-width: $mobile-max-width) {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }

      [bottom-wrap] {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & > div:first-of-type {
          display: flex;
          flex-direction: column;
        }

        @media screen and (max-width: $mobile-max-width) {
          flex-direction: column;
          align-items: center;

          & > div {
            justify-content: center;
            align-items: center;
          }
        }
      }

      [image] {
        height: 8.2em;
        min-height: 8.2em;
        width: 8.2em;
        min-width: 8.2em;
        border-radius: 50%;
        transition: $trans-cubic;

        img {
          border-radius: 50%;
          transition: $trans-cubic;
        }
      }

      [cover] {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: $trans-cubic;

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          transition: $trans-cubic;

          background: t(bg);
          background: -moz-linear-gradient(
            0deg,
            t(bg) 0%,
            t(bg) 2%,
            transparent 100%
          );
          background: -webkit-linear-gradient(
            0deg,
            t(bg) 0%,
            t(bg) 2%,
            transparent 100%
          );
          background: linear-gradient(0deg, t(bg) 0%, t(bg) 2%, transparent 100%);
        }
      }

      [name] {
        font-size: 62px;

        @media screen and (max-width: 1100px) {
          font-size: 48px;
        }

        @media screen and (max-width: 600px) {
          font-size: 32px;
        }
      }

      &[scrolled="true"] {
        height: 80px;
        box-shadow: var(--mio-theme-elevation-2);
        z-index: 2000;
        flex-direction: row;
        align-items: center;

        [user-new-inner] {
          flex-direction: row;
          align-items: center;
        }

        [bottom-wrap] {
          align-items: center;
        }

        [image] {
          height: 3.2em;
          min-height: 3.2em;
          width: 3.2em;
          min-width: 3.2em;
        }

        [cover] {
          &:before {
            background: t(bg);
            background: -moz-linear-gradient(0deg, t(bg) 0%, t(bg) 0%, t(bg) 0%);
            background: -webkit-linear-gradient(0deg, t(bg) 0%, t(bg) 0%, t(bg) 0%);
            background: linear-gradient(0deg, t(bg) 0%, t(bg) 0%, t(bg) 0%);
          }
        }

        [name] {
          font-size: 28px;
        }

        @media screen and (max-width: $mobile-max-width) {
          [bottom-wrap] {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }

          [ranking] {
            display: none;
          }
        }
      }
    }
  }
}

[page-structure="user"] {
  max-width: $content-widestest-size;
  margin-inline: auto;
  margin-top: calc($header-user-height + 2 * $main-distance);
}

[floating-action] {
  @media screen and (max-width: 1330px) {
    display: block !important;
  }
}

[relationship-actions] {
  [refollow],
  [follow],
  [unfollow],
  [manage] {
    display: none !important;
  }

  &[refollow] {
    [refollow] {
      display: flex !important;
    }
  }

  &[follow] {
    [follow] {
      display: flex !important;
    }
  }

  &[unfollow] {
    [unfollow] {
      display: flex !important;
    }
  }
}

// This is reused around the website
.user_header__inr_bottom__actions {
  $icon-size: 3.2em;

  padding-right: 1.8em;

  @media screen and (max-width: 852px) {
    display: none;
  }

  .option {
    position: relative;
    text-align: center;
    border-radius: 24px;
    cursor: pointer;
    height: $icon-size;
    width: $icon-size;
    justify-content: center;
    align-items: center;
    transition: $trans-cubic;
    display: flex;

    .icon {
      font-size: 1.4em;
    }

    &[with-text] {
      border-radius: 24px;
      width: auto;
      gap: 0.6em;
      display: flex;
      padding: 0 1.8em 0 1.6em;

      p:nth-of-type(2) {
        font-weight: 600;
      }
    }

    &[clean] {
      background: transparent;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }

    &[edit] {
      background: rgba(209, 111, 19, 0.24);

      @include themed() {
        color: t(btn-unfollow-text);
      }

      &:hover {
        background: rgba(209, 111, 19, 0.12);
      }

      &:active {
        background: rgba(209, 111, 19, 0.42);
      }
    }
  }
}

box-model[user-card] {
  [link] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  &:hover {
    text-decoration: none;
  }
}

.object_circle_row {
  @include themed() {
    display: flex;

    .object_in_row {
      margin-right: -0.8em;

      .object_in_row__outer {
        position: relative;
        z-index: 1;

        picture {
          border-radius: 50%;
          border: 2px solid t(bg);
        }
      }
    }

    .has_more {
      border: 2px solid t(bg);
      position: relative;
      z-index: 2;
      height: $mbutton-std-size;
      min-width: $mbutton-std-size;
      padding-inline: 8px;
      border-radius: 24px;
    }
  }
}

[loading-action] {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;

    @include themed() {
      background: t(u-hdr-mode);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 4%,
        t(u-hdr-mode-trans2) 26%,
        t(u-hdr-mode-trans) 40%,
        t(u-hdr-mode-trans) 55%,
        t(u-hdr-mode-trans2) 72%,
        rgba(0, 0, 0, 0) 96%
      );
    }

    transform-origin: top left;
    transform: skewX(-45deg) translateX(-100%);
    animation: wave 2.4s infinite;
  }
}

[hide-pre-mobile] {
  @media screen and (max-width: 1330px) {
    display: none;
  }
}

sub-stick-menu {
  @include themed() {
    display: flex;
    align-items: center;
    content: "";

    .sm__option {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      border: 1px solid t(bg-invert);
      border-left: 0;
      height: $mbutton-std-size;
      padding-inline: 18px;

      mi {
        display: none;
      }
    }

    a {
      &:first-of-type {
        .sm__option {
          border-left: 1px solid t(bg-invert);
          border-top-left-radius: 32px;
          border-bottom-left-radius: 32px;
        }
      }

      &:last-of-type {
        .sm__option {
          border-top-right-radius: 32px;
          border-bottom-right-radius: 32px;
        }
      }

      &[active] {
        .sm__option {
          background: t(active);

          mi {
            display: flex;
          }
        }
      }
    }
  }
}

#user-ranking-graph {
  width: 100% !important;
  max-height: 194px !important;
}

[user-graph] {
  // max-width: 420px;

  @media screen and (max-width: 800px) {
    max-width: initial;
    width: 100%;
  }
}

[pinned] {
  &:not(:empty) {
    @extend [mb];
  }
}

[editor-save] {
  position: fixed;
  bottom: $main-distance;
  right: $main-distance;
  animation: slide-in-bottom 0.4s $cubic forwards;
  transition: $trans-cubic;
  z-index: 2002;

  &:hover {
    scale: 1.02;
  }

  &[active] {
    [inner-loading-hidden] {
      visibility: visible;
      opacity: 1;
    }
  }

  &[loading] {
    pointer-events: none;
  }

  @keyframes slide-in-bottom {
    from {
      bottom: -112px;
    }

    to {
      bottom: $main-distance;
    }
  }
}

editor-overlay {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: none;

  &:before,
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 0.8em;
    width: 0.8em;

    @extend [circled];

    @include themed() {
      background: t(hover);
    }
  }

  &:before {
    margin-top: -0.8em;
  }

  &:after {
    margin-top: 0.8em;
  }

  &[active] {
    opacity: 1;
    visibility: visible;
  }
}

[editor-object="draggable"] {
  cursor: grab;
  transition: $trans-cubic;
  box-shadow: none;
  position: relative;

  &:hover {
    box-shadow: var(--mio-theme-elevation-1);
  }

  &:active {
    box-shadow: var(--mio-theme-elevation-3);
    scale: 1.02;
    z-index: 1000;
  }

  &::after {
    transition: all 0.2s linear;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 32px;
    content: "";
    display: block;
    z-index: 21;
    opacity: 0;
    visibility: hidden;
  }

  &[can-drop] {
    &[can-drop="true"],
    &[can-drop="false"] {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    @include themed() {
      &[can-drop="true"] {
        &::after {
          background: t(btn-follow);
        }
      }

      &[can-drop="false"] {
        &::after {
          background: t(btn-unfollow);
        }
      }
    }
  }
}

[editor-column] {
  z-index: 0;
  position: relative;

  &[active] {
    z-index: 1999; // 1 less than header.
  }
}

[dragging] {
  position: fixed;
  z-index: 20;
  opacity: 0.8;
}

image-gallery {
  content: "";
  display: block;

  ig-wrapper {
    content: "";
    display: block;
    columns: 5;
    column-gap: $gap-smol;
    width: 100%;
    height: auto;

    @media screen and (max-width: 1680px) {
      columns: 4;
    }

    @media screen and (max-width: 1200px) {
      columns: 3;
    }

    @media screen and (max-width: 850px) {
      columns: 2;
    }

    @media screen and (max-width: 450px) {
      columns: 1;
    }

    & > ig-object {
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: $gap-smol;
      // display: flex;
      // justify-content: center;
      // align-items: center;

      & > img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        display: block;
        // height: 100%;
        // object-fit: cover;
      }

      &:hover {
        [object-actions] {
          mbutton {
            opacity: 1;
          }
        }
      }
    }
  }
}
