<box-model filled>
  <!-- <div style="position: absolute; top: -9em; right: 2.4em">
    <lottie-player
      src="https://assets5.lottiefiles.com/packages/lf20_zadfo6lc.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px"
      loop
      autoplay
    ></lottie-player>
  </div> -->

  <bm-inr>
    <div fl fldircol align-items="center" mb="mid">
      <div class="icon" mt="smol">
        <dotlottie-player
          src="https://lottie.host/0d6636ca-2633-4640-8d5e-95d397cace8f/GCNWe0kTca.json"
          background="transparent"
          speed="1"
          style="width: 160px; height: 160px"
          loop
          autoplay
        ></dotlottie-player>
      </div>
      <div tac>
        <p text midler bold>Nothing here</p>
        <p text std>It's just me the duck!</p>
      </div>
    </div>
  </bm-inr>
</box-model>
