<box-model
  style="flex: 1; min-width: 24em; max-width: 32em"
  rounded="wide"
  shadowed="min"
  placeholder
>
  <bm-inr size="std">
    <div fl justify-content="stretch" gap="std">
      <div
        class="placeholder__line"
        rounded-more
        purple
        style="height: 6em; width: 8.2em"
      ></div>
      <div style="flex: 1">
        <div fl gap="smol">
          <div class="placeholder__line" blue tagger mb="std"></div>
          <div class="placeholder__line" green tagger mb="std"></div>
          <div class="placeholder__line" pink tagger mb="std"></div>
        </div>
        <div class="placeholder__line" mb="smol"></div>
        <div class="placeholder__line" style="max-width: 12em"></div>
      </div>
    </div>
    <div class="placeholder__line" mt="smol" tagger="mid"></div>
  </bm-inr>
</box-model>
