<box-model
  style="flex: 1; min-width: 24em; max-width: 32em"
  rounded="wide"
  shadowed="min"
  placeholder
>
  <bm-inr size="wide">
    <div class="placeholder__line" mb="smol"></div>
    <div class="placeholder__line"></div>

    <div fl justify-content="space-between">
      <div
        class="placeholder__line"
        rounded-more
        purple
        style="flex-basis: 30%"
        mt="std"
      ></div>
      <div fl gap="smol">
        <div class="placeholder__line" blue round mt="std"></div>
        <div class="placeholder__line" green round mt="std"></div>
        <div class="placeholder__line" pink round mt="std"></div>
      </div>
    </div>
  </bm-inr>
</box-model>
